@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base */
body {
  background-color: #0F172A; /* corporate-navy */
  color: #F8FAFC; /* corporate-text */
  font-family: 'Inter', sans-serif; /* Fuente por defecto */
}